@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.main {
  width: 100%;
  max-width: 2000px;
  margin: auto;
  font-family: "Poppins", sans-serif;
}


/* ===========
 MAP SECTION
============ */
/* .cardContainer::-webkit-scrollbar {
  width: 0px;
} */

/* ===================
   MAP SLIDER CSS
==================== */
/* .carousel {
  padding-top: 0px;
}
.carousel .thumbs {
  display: none;
}
.carousel .control-dots {
  display: none;
}
.carousel .carousel-status {
  display: none;
}
.carousel .control-disabled.control-arrow {
  opacity: inherit !important;
  display: block !important;
}

.carousel .thumbs-wrapper {
  display: none !important;
}
.thumbs-wrapper .axis-vertical .control-arrow .control-next {
  position: relative;
}
.carousel .control-next.control-arrow,
.carousel .control-prev.control-arrow {
  transition: all 0.25s ease-in;
  background-color: rgba(255, 255, 255, 0.27) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  filter: alpha(opacity=40);
  position: absolute;
  z-index: 2;
  top: 50px !important;
  cursor: pointer;
}
.carousel.carousel-slider .control-arrow {
  font-size: 0px !important;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #2f5f82 !important;
}
.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #2f5f82 !important;
}
.carousel.carousel-slider .control-arrow:hover {
  background-color: rgba(255, 255, 255, 0.27) !important;
} */
